.myprofile-container {
    display: flex;
    justify-content: center;
    height: 80%;
}

.myprofile-card {
    z-index: 1;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100rem;
    height: 50rem;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    transition: border 0.5s ease, box-shadow 0.5s ease;
}