.registration-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registration-page-card {
    z-index: 1;
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}



.registration-page-card::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -8px;
    border-radius: 1.2rem;
    border: 1px solid #ccc;

    opacity: 0;
    transform: scale(0.98);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.registration-page-card:hover::after {
    opacity: 1;
    transform: scale(1);
}

.registration-page-card:hover {
    box-shadow: none;
}

.registration-page-card label {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem;
    width: 100%;
}

.registration-page-card .field-label {
    margin-left: .8rem;
}

.registration-page-card input {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 100%;
    transition: all 0.3s;
}

.registration-page-card input:focus-visible {
    outline: none;
    /* border-color: #ff424d; */
    box-shadow: 0 0 1rem 0.2rem rgba(255, 66, 77, 0.5)
}

.registration-page-card input:hover {
    outline: none;
    border-color: #ff424d;
}

.registration-page-card button {
    margin: 1rem;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    background-color: #ff424d;
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: all ease 0.3s;
}

.registration-page-card button:hover {
    box-shadow: 0 0 1rem 0.2rem rgba(255, 66, 77, 0.5)
}

.registration-page-card h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0.5rem;
}

.registration-page-card h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: .5rem;
}

.registration-page-card form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 25rem;
}