.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-page-card {
    background-color: #ffffff;
    width: 50rem;
    display: grid;
    border-radius: .5rem .5rem .5rem .5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-template-areas:
        "header"
        "main";

}

.login-page-card .header {
    padding: 1.5rem;
    border-radius: .5rem .5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.login-page-card .header h1{
    font-size: 3rem;
    font-weight: 1000;
}

.login-page-card .header h3{
    font-size: 1rem;
    font-weight: 700;
}

.login-page-card .main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 30rem;
    gap: 1rem;
}

.main label {
    display: flex;
    flex-direction: column;
}

.main input {
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid #d8d8d8;
}

.main button {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--primary);
    color: #ffffff;
    font-size: 1rem;
    border: 0;
}

.main .field-label {
    margin-left: .5rem;
}

.main .registration-link {
    text-decoration: none;
    color: #87ceeb;
}