.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-page-card {
    z-index: 1;
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    transition: border 0.5s ease, box-shadow 0.5s ease;
}



.login-page-card::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -8px;
    border-radius: 1.2rem;
    border: 1px solid #ccc;

    opacity: 0;
    transform: scale(0.98);
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
}

.login-page-card:hover::after {
    opacity: 1;
    transform: scale(1);
}

.login-page-card:hover {
    box-shadow: none;
}

.login-page-card label {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.login-page-card .field-label {
    margin: .8rem;
}

.login-page-card input {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 100%;
    transition: all 0.5s;
}

.login-page-card input:focus-visible {
    outline: none;
    border-color: #ff424d;
    box-shadow: 0 0 1rem 0.2rem rgba(255, 66, 77, 0.5)
}

.login-page-card input:hover {
    outline: none;
    border-color: #ff424d;
}

.login-page-card button {
    margin-top: 2rem;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    background-color: #ff424d;
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: all ease 0.5s;
    font-size: 1.2rem;
    font-weight: 600;
}

.login-page-card button:hover {
    box-shadow: 0 0 1rem 0.2rem rgba(255, 66, 77, 0.5)
}

.login-page-card h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0.5rem;
}

.login-page-card h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: .5rem;
}

.login-page-card form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 25rem;
    gap: 1rem;
}

.registration-link {
    position: relative;
    color: #ff424d;
    text-decoration: none;
    transition: all ease 0.5s;
}

.registration-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.registration-link:hover::after {
    transform: scaleX(1);
}

.login-page-card p {
    margin-top: 2rem;
}

.field-error {
    color: #ff5a5a;
    margin-top: 1rem;
}

.form-error {
    color: #ff5a5a;
    margin-bottom: 1rem;
}