.main-layout-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
        "sidebar-top header"
        "sidebar-bottom content";
    height: 100%;
    gap: 0rem ;
    padding: 2rem;
}

.main-layout-wrapper::before {
    content: "";
    position: absolute;
    inset: 2rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-md);
    pointer-events: none;
}

.sidebar-bottom {
    grid-area: sidebar-bottom;
    background-color: var(--bg-secondary);
    border-right: 2px solid var(--border-main);
    overflow: hidden;
    border-radius: 0 0 0 1rem;
    padding: 1rem;
    position: relative;
}

.sidebar-top {
    grid-area: sidebar-top;
    background-color: var(--bg-secondary);
    border-right: 2px solid var(--border-main);
    overflow: hidden;
    border-radius: 1rem 0 0 0;
    border-bottom: 2px solid var(--border-main);
    padding: 1rem;
    position: relative;
}


.header {
    grid-area: header;
    background-color: var(--bg-secondary);
    border-bottom: 2px solid var(--border-main);
    border-radius: 0 1rem 0 0;
    padding: 1rem;
    position: relative;
}

.content {
    grid-area: content;
    background-color: var(--bg-secondary);
    padding: 2rem;
    border-radius: 0 0 1rem 0;
    position: relative;

}
