.editprofile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--bg-card);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: var(--shadow-sm);
}

.editprofile-card h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-main);
}

.editprofile-card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.form-group label {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-main);
}

.form-group input {
    background-color: var(--bg-hover);
    border-radius: 1rem;
    border: 1px solid var(--border-main);
    padding: 1rem;
    color: var(--text-main);
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
}

.form-group input:focus {
    outline: none;
    border: 1px solid var(--accent-main);
    background-color: var(--bg-hover);
    transform: scale(1.01);
}

.form-group input:hover {
    background-color: var(--bg-hover);
    transform: scale(1.01);
}

form button {
    background-color: var(--accent-main);
    border-radius: 1rem;
    border: 0;
    padding: 1rem;
    color: var(--text-main);
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: var(--accent-hover);
    transform: scale(1.01);
}

form button:active {
    background-color: var(--accent-active);
    transform: scale(0.99);
}