.header-container {
    display: flex;
    justify-content: center;
}

.header-card {
    z-index: 1;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100rem;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    transition: border 0.5s ease, box-shadow 0.5s ease;
}

.header-navigation {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
}

.header-img {
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.header-img-link {
    position: relative;
    color: #ff424d;
    text-decoration: none;
    transition: all ease 0.5s;
}

.header-img-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.header-img-link:hover::after {
    transform: scaleX(1);
}