.me-card {
    height: 20rem;
    background-color: #ffffff;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-card .avatar {
    margin-bottom: 1rem;
    background-color: #d8d8d8;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.state {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;

}