:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: Roboto, sans-serif;
}

#root {
  height: 100vh;
} 