:root {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  --primary: #1F1F1F;
  --accent: #444444;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

#root {
  height: 100vh;
}

h1 {
  color: var(--primary);
}