:root {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

#root {
  height: 100vh;
}

h1 {
  color: #ff424d;
}