.navigation-text {
    font-size: 1rem;
    font-weight: 700;
}


.sidebar-nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    transition: all 0.3s ease;
    color: var(--text-secondary);
}

.sidebar-nav-link:hover {
    background-color: var(--bg-hover);
    color: var(--accent-hover);
}

.sidebar-nav-link:active {
    scale: 0.95;
    transition: all 0.3s ease;
}

.sidebar-nav-link svg {
    width: 2rem;
    height: 2rem;
}

.sidebar-nav-link {
    border-left: 2px solid transparent;
}

.sidebar-nav-link.is-active {
    background-color: var(--bg-hover);
    color: var(--accent-main);
    border-left: 2px solid var(--accent-main);
    transition: all 0.3s ease;
  }